*{
    list-style-type: none;
  }
  
  .App {
    text-align: center;
  }
  

  
  @media (prefers-reduced-motion: no-preference) {

  }
  
  .App-header {
    background-color: #282c34;
  }
  
 
  
  .home-ul{
    display: flex;
  }
  
  a{
    margin-left: 10px;
    font-size: 30px;
    text-decoration: none;
    color: black;
  }